:root {
  --color-default: #e5e2d2;
  --color-primary: darkgoldenrod;
  --color-secondary: darkgoldenrod;
  --color-link: darkgoldenrod;
  --color-link-hover: goldenrod;
  /*--color-border-block: #232323;*/
  --color-border-block: #232323;

  --footer-height: 60px;
  --text-size-default: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: var(--text-size-default);

  color: var(--color-default);
}

body {
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}

::selection {
  background: darkgoldenrod;
  color: var(--color-default);
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-link-hover);
  /*text-decoration: underline;*/
}

#video-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  mix-blend-mode: color-dodge;
}

#video-color {
  width: 100%;
  position: fixed;
  height: 100%;
  background: #9f885d;
  mix-blend-mode: color;
}

#video-loop {
  min-width: 100%;
  min-height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 50%;
  z-index: 3;
  text-transform: uppercase;
  transition: left 0.5s,
              bottom 0.5s,
              font-size 0.5s;
}

footer {
  background: #00000078;
  width: 100%;
  height: var(--footer-height);
  position: fixed;
  bottom: 0;
  z-index: 1;
  transition: opacity 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-logo {
  height: 50px;
}

#canvas {
  display: flex;
  height: 100vh;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(165deg, rgba(0, 0, 0, 1) 0%, rgba(23, 23, 23, 1) 67%, rgba(59, 59, 59, 1) 140%);
}

.bg-avatar {
  background: url("../img/bg-fullavatar.png");
  width: 400px;
  height: 660px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  @media (max-width: 1400px) {
    display: none;
  }
}

#book {
  padding: 20px 0;
  min-width: 600px;
  max-width: 840px;
  z-index: 2;
  margin: 0 30px;
  height: calc(100% - var(--footer-height));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#book-title {
  font-size: 3em;
}

.heading #book-title,
.heading footer,
.heading .bg-avatar {
  /*display: none;*/
  opacity: 0;
}

.heading #book {
  justify-content: center;
}

.heading nav {
  position: fixed;
  bottom: 43%;
  left: 43%;
  font-size: 2em;
  text-decoration: none;
}

nav a {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  transition: background 0.7s;
}

nav a.active {
  background: #00000094;
}
