:root {
    --color-default: #e5e2d2;
    --color-primary: darkgoldenrod;
    --color-secondary: darkgoldenrod;
    --color-link: darkgoldenrod;
    --color-link-hover: goldenrod;
    /*--color-border-block: #232323;*/
    --color-border-block: #232323;
    --color-nav: darkgoldenrod;

    --footer-height: 60px;
    --text-size-default: 1.2em;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: var(--text-size-default);

    color: var(--color-default);
}

body {
    overflow: hidden;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px var(--color-default);
}

::selection {
    /* background: darkgoldenrod; */
    /* color: var(--color-secondary); */

    background: none;
    text-decoration: var(--color-primary) dashed underline 1.5px;
}


a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.5s;
}

a:hover {
    color: var(--color-link-hover);
    text-shadow: 0 0 20px var(--color-link-hover);
}

#video-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    mix-blend-mode: color-dodge;
}

#video-color {
    width: 100%;
    position: fixed;
    height: 100%;
    background: #9f885d;
    mix-blend-mode: color;
}

#video-loop {
    min-width: 100%;
    min-height: 100%;

    /* transform: scaleX(-1); */
    /* transform: scaleY(-1); */

    /* -moz-transform: scale(-1, -1); */
    /* -o-transform: scale(-1, -1); */
    /* -webkit-transform: scale(-1, -1); */
    /* transform: scale(-1, -1); */
}

#nav-wrapper {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
}

#nav-bar {
    display: none;
    width: 100%;
    height: 55px;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 170px;
    z-index: 3;
    text-transform: uppercase;
}

nav a {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    transition: background 0.7s, color 0.3s, text-shadow 0.5s;
}

nav .nav-active {
    background: #00000094;
}

footer {
    background: #00000078;
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    z-index: 1;
    transition: opacity 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    height: 50px;
}

#canvas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(215deg, rgba(0, 0, 0, 1) 0%, rgb(8 8 8) 67%, rgb(91 53 19) 140%);
}

#bg-avatar {
    background: url("../img/bg-fullavatar.png");
    width: 270px;
    height: 450px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-size: 270px;
}

#book {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - var(--footer-height));
    z-index: 2;
    box-sizing: border-box;
    padding-left: 170px;
}

#book-title {
    font-size: 3em;
}

.section {
    display: none;
}

.section-active {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#section-bio {

    min-width: 500px;
    max-width: 840px;

    padding: 20px 0;
    margin: 0 30px;
    box-sizing: border-box;
    display: flex;

    height: 100%;
    /*overflow: hidden;*/
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 85%, transparent 100%);
}

.heading #book-title,
.heading footer,
.heading #bg-avatar {
    /*display: none;*/
    opacity: 0;
}

.heading #book {
    justify-content: center;
}

.heading #nav-wrapper {
    width: 100%;
}

.heading nav {
    font-size: 2em;
    text-decoration: none;
}

#loading {
    background: black;
    z-index: 999999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1100px) {
    #book {
        padding-left: 0;
    }

    #nav-bar {
        display: flex;
    }

    nav {
        justify-content: flex-start;
    }

    nav a {
        display: none;
    }

    nav .nav-active {
        display: inline-block;
    }

    nav:hover a {
        display: inline-block;
        background: rgba(9, 9, 9, 0.90);
    }

    .heading nav a {
        display: inline-block;
    }

    footer {
        display: none;
    }
}
